#root {
  width: 100%;
  background-color: rgb(9, 57, 45);
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.button {
  width: 10%;
}

.inputtext {
    margin: 10px auto;
    width: 20%;
}

.label {
  
}
