.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: black;
  padding: 20px;
  border-radius: 8px;

  width: 80vw;
  height: 80vh;

  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

.button-close {
  font-size: large;
  position: sticky;
  top: 0;
  float: right;
  margin-bottom: 10px;
  cursor: pointer;
}
