.header-text {
  margin: -50;
}

.header-text h1 {
  font-size: 1.8rem;
  margin: 0 0 5px 0;
  text-shadow: 1px 1px 0 #000;
}

.header-text h2 {
  font-size: 1.5rem;
  margin: 0;
  text-shadow: 1px 1px 0 #000;
}
